# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Conda
*.conda
*.env

# Spark
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
RawData/